files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/45npm.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/bash
      
      # Install dependencies in the source directory
      cd /var/app/staging
      
      # Output some debug info
      echo "Node version:"
      node -v
      echo "NPM version:"
      npm -v
      
      echo "Installing dependencies..."
      npm ci || npm install
      
      # Ensure correct permissions
      chown -R webapp:webapp /var/app/staging/node_modules 