option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: true

commands:
  remove_npm_install:
    command: |
      mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/pre/
      echo "#!/bin/bash" > /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh
      chmod +x /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh